%% -*- mode: erlang -*-
[
 {kernel, [
           {error_logger, {file, "log/kernel.log"}}
          ]
 },
 {lager, [
	  {log_root, "log/lager"},
	  {handlers, [
		      {lager_console_backend, debug},
		      {lager_file_backend, [{file, "error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "info.log"}, {level, info}]},
		      {lager_file_backend, [{file, "debug.log"}, {level, debug}]}
		     ]
	  },
          {error_logger_hwm, 500},
          {lager_truncation_size, 1310720}
	 ]
 },
 {sasl, [
         {sasl_error_logger, {file, "log/sasl.log"}},
         {error_logger_mf_dir, "log"},
         {error_logger_mf_maxbytes, 10485760},
         {error_logger_mf_maxfiles, 10},
         {errlog_type, all}
        ]
 },
 {pushdings, [
              {mail_opts, [{relay, "mail.strigler.de"},
                           {ssl, true},
                           {username, "stefan@strigler.de"},
                           {password, "tltuae18"}]}
             ]}
].
