%% -*- mode: erlang -*-
[
 {kernel, [
           {error_logger, {file, "log/kernel.log"}}
          ]
 },
 {lager, [
	  {log_root, "log/lager"},
	  {handlers, [
		      {lager_console_backend, error},
		      {lager_file_backend, [{file, "error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "info.log"}, {level, info}]},
		      {lager_file_backend, [{file, "debug.log"}, {level, debug}]}
		     ]
	  },
          {error_logger_hwm, 500},
          {lager_truncation_size, 1310720}
	 ]
 },
 {sasl, [
         {sasl_error_logger, {file, "log/sasl.log"}},
         {error_logger_mf_dir, "log"},
         {error_logger_mf_maxbytes, 10485760},
         {error_logger_mf_maxfiles, 10},
         {errlog_type, all}
        ]
 },
 {pushdings, [
              {ssl, true},
              {ssl_opts, [{ip, {188,40,80,233}},
                          {port, 18443},
                          {certfile, "/etc/letsencrypt/live/pushdings.com/cert.pem"},
                          {cacertfile, "/etc/letsencrypt/live/pushdings.com/chain.pem"},
                          {keyfile, "/etc/letsencrypt/live/pushdings.com/privkey.pem"}]},
                          {dhfile, "/home/zeank/pushdings/dhparams_4096.pem"}
              {mail_from, "registration@pushdings.com"}
             ]
 }
].
